<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- -----------------------------------static file------------------------------------------ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/s.css') }}">
    <script src="{{ url_for('static',filename='/js/j1.js' )}}"></script>
</head>
<body>
    <h1>multiplication table of  {{ unum }} </h1>
  {% for i in range(1,11) %}
  <h2>{{ unum }} * {{i}} = {{ unum*i }}</h2>
  {% endfor %}

  <button onclick="hi()">click me</button>
    
</body>
</html>